venv
__pycache__
.pgpass
static_
timesite/static
timesite/backend/media/user_pfps/*
timesite/backend/media/project_icons/*

#imported from svelte
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
