{% load filters %}
<div style="display: flex; flex-direction: column; align-items: center;">
    <h3>{{tenor}}:</h3>
    <h3>AutoRegressive Process:</h3>
    {{ar_summary|safe}}
    <h3>GARCH Process:</h3>
    {{garch_summary|safe}}
    <h3>Calculated Parameters:</h3>
    {%for item in models_params%}
    <div>
        <h3>{{item}}:</h3>
        {%for i in models_params|get_item:item %}
        <p>{{i}}: {{models_params|get_item:item|get_item:i}}</p>
        {%endfor%}
    </div>
    {%endfor%}
</div>