<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load filters %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <!-- font import -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
</head>

<style>
    input[type="file"]{
    
        display: none;
    }
    input[type="file"]::file-selector-button {
        display: none;
    }
    </style>

<body>
    <span class="home-main-container">
                <!--div style="min-width: 0.1rem; background-color: var(--border-color);"></div-->
                <div class="home-container half">
                    <a href="../"  class="fancy-underline back-text">Go Back</a>
                    <!--h1>{{user}}'s Profile Page</h1-->
                    <br>
                    <br>
                    {% include 'prefabs/datastore_thumb.html' %}
                    <a href="../" class="fancy-underline subtitle">Exit without saving</a>
                    <br>
                    <a href="../delete/" class="fancy-underline subtitle">Delete this project</a>
                    <div class="hr"></div>
                    <form action="/datastore/{{item.id}}/edit/" enctype="multipart/form-data" method="post" id="datastore_form">
                        {%csrf_token%}
                        <div class="datastore-field">
                            <p>{{form.name.label_tag}}<br>{{form.name}}</p>
                            <p>{{form.description.label_tag}}<br>{{form.description}}</p>
                            <button class="login-button-primary" type="submit" value="OK" style="margin-bottom: 1rem;">Save</button>
                        </div>
                    </form>
                </div> 
    </span>
</body>