<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load filters %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <!-- font import -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
</head>

<body>
    <span class="home-main-container">
        <div class="home-container" id="container-side-1">
            <h2>Recent projects</h2>
            <div class="project-item"></div>
        </div>
        <div class="home-container center" id="container-main">
            <div class="underlying-container">
            <h1>{{user}}'s datastore</h1>
            <p>The following items can be used in the editor for data processing.</p>
            <div><button class="login-button-primary">Upload New Dataset</button></div> <br>
            <div></div>
            <div class="hr"> </div> 
            </div> 
        </div>
        <div class="home-container" id="container-side-2">
            
            <p class="profile-shorthand"><img src="{{user|get_pfp}}" class="pfp"><b>{{user}}</b></p>
            {% include "prefabs/right_panel_links.html" %}
        </div>
    </span>
</body>
<script>
//underline
document.getElementById('datastore_link').classList.add('underlined');
//take care of the dataset upload
</script>
<script src="{% static 'three_panel_animator.js' %}"></script>
