<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load filters %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <!-- font import -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
    {%include 'prefabs/default_viewport_meta.html' %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Timesite: Datastore</title>
</head>


<style>
    input[type="file"]{
    
        display: none;
    }
    input[type="file"]::file-selector-button {
        display: none;
    }
    </style>
<body>
    <span class="home-main-container">
        <div class="home-container" id="container-side-1">
            {%include 'prefabs/sidepanel_button_left_double.html' %}
            <h2 style="padding-left: 0.2rem; padding-right: 0.2rem;">Recent projects</h2>
            {% for item in user|get_projects %}
            {%include 'prefabs/project_thumb.html'%}
            {%endfor%}
        </div>
        <div class="sidebar-substituter" id="sidebar_substituter_left"></div>
        <div class="home-container center" id="container-main">
            {%include 'prefabs/sidepanel_button_left.html' %}
            {%include 'prefabs/sidepanel_button_right.html' %}
            <div class="underlying-container">
            <h1>{{user|get_display_name}}'s datastore</h1>
            <p>The following items can be used in the editor for data processing.</p>
            <div><button class="login-button-primary" id="add_button" onclick="enableUploadField();">Upload New Dataset</button></div>
            
            <form action="/datastore/" enctype="multipart/form-data" method="post" id="datastore_form">
                {%csrf_token%}
                <div id="drop-zone" class="datastore-field hidden">
                    {% include 'prefabs/file_upload_label.html' %}
                    {{form.file}}
                    <p>Accepted formats: .csv</p>
                    <p>{{form.name.label_tag}}<br>{{form.name}}</p>
                    <p>{{form.description.label_tag}}<br>{{form.description}}</p>
                    <button class="login-button-primary" type="submit" value="OK" style="margin-bottom: 1rem;">Upload</button>
                </div>
            </form>
            <div></div>
            <div class="hr"> </div> 
            <br>
            <!--div style="display: flex; flex-wrap: wrap; align-items: flex-start;"-->
            {% for item in lookup %}
            <a href="{{item.id}}/">
                {% include 'prefabs/datastore_thumb.html' %}
            </a>
            {%endfor%}
            <!--/div-->
            </div> 
        </div>
        <div class="home-container" id="container-side-2">
            {%include 'prefabs/sidepanel_button_right_double.html' %}
            <p class="profile-shorthand"><img src="{{user|get_pfp}}" class="pfp"><b>{{user|get_display_name}}</b></p>
            {% include "prefabs/right_panel_links.html" %}
        </div>
    </span>
</body>
<script>
//underline
document.getElementById('datastore_link').classList.add('underlined');
//take care of the dataset upload
</script>
<script src="{% static 'three_panel_animator.js' %}"></script>
<script>
    add_button=document.getElementById('add_button');
    drop_zone=document.getElementById('drop-zone');
    enabled=false;
    function enableUploadField() {
        if (enabled){
            add_button.classList.add('login-button-primary');
            add_button.classList.remove('login-button-secondary');
            add_button.innerHTML= "Upload new Dataset";
            enabled=false;
            drop_zone.classList.add('hidden');
        }
        else {
            add_button.classList.add('login-button-secondary');
            add_button.classList.remove('login-button-primary');
            add_button.innerHTML= "Cancel Dataset Upload";
            enabled=true;
            drop_zone.classList.remove('hidden');
        }
    }
    function updateLabel() {
        try{
            document.getElementById('file-label-target').innerHTML=document.getElementById('id_file').files[0].name;
        }
        catch (e) {
            if (e instanceof TypeError) {
                document.getElementById('file-label-target').innerHTML='No file chosen';
            } else {
                throw e;
            }
        }
    }
</script>
