<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <!-- font import -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
</head>

<body>
    <span class="home-main-container">
        <div class="home-container" id="container-side-1"></div>
        <div class="home-container center" id="container-main">
            <h1>Welcome back, {{user}}</h1>
            <p class="text-containered">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="home-container" id="container-side-2">
            
            <p class="profile-shorthand"><img src="{% static 'pfp_placeholder.png' %}" class="pfp"><b>{{user}}</b></p>
            <a href='profile/'><p>Profile Page</p></a>
            <a href='projects/'><p>Projects</p></a>
            <a href='logout/'><p>Log Out</p></a>
        </div>
    </span>
</body>
<script>
//var init
container_left=document.getElementById('container-side-1');
container_main=document.getElementById('container-main');
container_right=document.getElementById('container-side-2');
animate=false;
shrunk=(window.innerWidth <1000);
function addTransition() {
    container_left.classList.add('transitioning');
    container_right.classList.add('transitioning');
    container_main.classList.add('transitioning');
    console.log('transitions added');
}
function removeTransition() {
    container_left.classList.remove('transitioning');
    container_right.classList.remove('transitioning');
    container_main.classList.remove('transitioning');
    animate=false;
    console.log('transitions removed');
}
function delayedRemoveTransition(){
    //console.log('aea');
    setTimeout(removeTransition,100);
}
function hider() {
    if (window.innerWidth <1000) {
        if (animate==false && shrunk ==false){
            animate=true;
            shrunk=true;
            addTransition();
        }
        container_left.classList.add('hidden');
        container_right.classList.add('hidden');
        container_main.classList.add('full-width');
    }
    else {
        if (animate==false && shrunk ==true){
            animate=true;
            shrunk=false;
            addTransition();
        }
        container_left.classList.remove('hidden');
        container_right.classList.remove('hidden');
        container_main.classList.remove('full-width');
    }
//window.addEventListener('resize',hider);
}

window.onresize = hider;
//addEventListener('animationstart',(addTransition));
addEventListener('transitionend',(delayedRemoveTransition));
</script>