<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        {% load filters %}
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <!-- font import -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet" />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <title>Timesite: Home</title>
        {%include 'prefabs/default_viewport_meta.html' %}
</head>

<body>
    <span class="home-main-container">
        <div class="home-container" id="container-side-1">
            {%include 'prefabs/sidepanel_button_left_double.html' %}
            <h2>Recent projects</h2>
            {% for item in user|get_projects %}
            {%include 'prefabs/project_thumb.html'%}
            {%endfor%}
        </div>
        <div class="home-container center" id="container-main">
            {%include 'prefabs/sidepanel_button_left.html' %}
            <div class="underlying-container">
                {%include 'prefabs/sidepanel_button_right.html' %}
            <h1>Welcome back, {{user|get_display_name}}</h1>
            <!--p class="text-containered">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p-->
            <h2>Pinned Projects</h2>
            {% if project_pins %}
            {% for item in project_pins %}
            {% include 'prefabs/project_thumb.html' %}
            {%endfor%}
            {% else %}
            <p>No projects have been pinned yet.</p>
            {%endif%}
            <h2>Latest datastore Upload</h2>
            {% if data_obj %}
            {%for item in data_obj %}
            <a href="/datastore/{{item.id}}/">
            {% include 'prefabs/datastore_thumb.html' %}
            </a>
            {%endfor%}
            {%else%}
            <p>No data has been uploaded yet.</p>
            {%endif%}
            </div> 
        </div>
        <div class="home-container" id="container-side-2">
            {%include 'prefabs/sidepanel_button_right_double.html' %}
            <p class="profile-shorthand"><img src="{{user|get_pfp}}" class="pfp"><b>{{user|get_display_name}}</b></p>
            {% include "prefabs/right_panel_links.html" %}
        </div>
    </span>
</body>
<script>
    document.getElementById('home_link').classList.add('underlined');
    </script>
<script src="{% static 'three_panel_animator.js' %}"></script>