<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <!-- font import -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
</head>
<!-- wanted to make it one template but thought that id rather not do that right now, maybe later -->

<body>
  <div class="login-form">
    <div class="login-box" id="login-box">

      <h3>Hello, Please Login</h3>
      {% if user_found %}
      <p class="error-text">Sorry, that username already exists.</p>
      {% endif %}
      {% if failed_login %}
      <p class="error-text">Sorry, the username or password did not match.</p>
      {% endif %}
      {% if incomplete_form %}
      <p class="error-text">Sorry, you should fill in all the credential fields.</p>
      {% endif %}
      <form action="/login/?next={{next}}" method="post">
        {% csrf_token %}
        <div class="text-center">{{ form.as_p }}</div>
        <button class="login-button-primary" type="submit" value="OK">Login</button>
      </form>
      <h3>New to the system?</h3>
      <a href="/register/" method="post">
        <!-- {% csrf_token %} -->
        <button class="login-button-secondary" type="submit" value="OK">Register</button>
      </a>
    </div>
  </div>
</body>

</html>
<!--script>
  document.getElementById('login_field').labels[0].insertAdjacentHTML('afterend','<br>')
  document.getElementById('password_field').labels[0].insertAdjacentHTML('afterend','<br>')
</script-->
<script>
  login_box=document.getElementById('login-box');
  scale_factor=1;
  function rescaler_calc(){
  if (window.outerWidth <500){
    return 2;
  }
  else if (window.outerWidth>1000){
    return 1;
  }
  else {
    //return (-0.005*window.outerWidth)+4.5;
    return ((-0.002)*window.outerWidth + 3);
  }
}
function rescaler(){
    login_box.style.scale = rescaler_calc();
    console.log(rescaler_calc());
  }
window.onresize = rescaler;
</script>