<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load filters %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <!-- font import -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
    {%include 'prefabs/default_viewport_meta.html' %}
</head>

<style>
input[type="file"]{

    display: none;
}
input[type="file"]::file-selector-button {
    display: none;
}
</style>

<body>
    <span class="home-main-container">
                <!--div style="min-width: 0.1rem; background-color: var(--border-color);"></div-->
                <!--div class="home-container" style="width: 65vw; overflow-y: auto;"-->
                <div class="home-container half">
                    <div class="underlying-container">
                    <!--h1>{{user}}'s Profile Page</h1-->
                    <img src="{{user|get_pfp}}" class="pfp-profile">
                    <h2 class="text-containered" style="margin-top: 0.5rem; margin-bottom: 0rem;">{{user|get_display_name}}
                    </h2>
                    <!--a href="edit/" class="fancy-underline subtitle">Edit Profile</a-->
                    <a href="../" class="fancy-underline subtitle">Exit without saving</a>
                    <div class="hr"></div>
                    <!--p>form</p-->
                    <form action="/profile/edit/" enctype="multipart/form-data" method="post" id="profile_form">
                        {%csrf_token%}
                        <div>
                            <div id="drop-zone" class="pfp-edit-file-field">
                                <div id="file-label-target" style="margin-top: 1rem; overflow-x: hidden; white-space: nowrap; text-overflow: ellipsis;">No file chosen</div>
                                <p style="display: flex;justify-content: center; margin-top: 0.1rem;">
                                    <label for="id_pfp" class="login-button-primary" style="min-height: 1.7rem; display: flex; justify-content: center; align-items: center;">
                                        <span>Upload new PFP </span>
                                    </label>
                                </p>
                            </div>
                            {{form.pfp}}
                            <div style="display: none;">{{form.delete_pfp}}</div>
                            <button class="login-button-secondary" id="delete_button" type="button" onclick="setPFPDeletion();">Remove PFP</button>
                            <p>{{form.email.label_tag}}<br>{{form.email}}</p>
                            <p>{{form.login.label_tag}}<br>{{form.login}}</p>
                            <p>{{form.display_name.label_tag}}<br>{{form.display_name}}</p>
                            <h3>Password change</h3>
                            <p>{{form.old_password}}</p>
                            <p>{{form.password}}</p>
                            <p>{{form.password_verify}}</p>
                        </div>
                        <button class="login-button-primary" type="submit" value="OK" style="margin-bottom: 1rem;">Save</button>
                        
                    </form>
                </div> 
            </div>

    </span>
</body>
<script>
    delete_check=document.getElementById('id_delete_pfp');
    delete_flag=false;
    delete_button=document.getElementById('delete_button');
    drop_zone=document.getElementById('drop-zone');
    function setPFPDeletion() {
        if (delete_flag){
            delete_check.checked=false;
            delete_button.classList.remove('login-button-primary');
            delete_button.classList.add('login-button-secondary');
            delete_button.innerHTML= "Remove PFP";
            delete_flag=false;
            drop_zone.classList.remove('hidden');
        }
        else {
            delete_check.checked=true;
            delete_button.classList.remove('login-button-secondary');
            delete_button.classList.add('login-button-primary');
            delete_button.innerHTML= "Cancel PFP Removal";
            delete_flag=true;
            drop_zone.classList.add('hidden');
        }
    }
    function updateLabel() {
        try{
            document.getElementById('file-label-target').innerHTML=document.getElementById('id_pfp').files[0].name;
        }
        catch (e) {
            if (e instanceof TypeError) {
                document.getElementById('file-label-target').innerHTML='No file chosen';
            } else {
                throw e;
            }
        }
    }
</script>