<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <!-- font import -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
</head>

<body>
    <span class="home-main-container">
                <!--div style="min-width: 0.1rem; background-color: var(--border-color);"></div-->
                <div class="home-container half">
                    <!--h1>{{user}}'s Profile Page</h1-->
                    <img src="{% static 'pfp_placeholder.png' %}" class="pfp-profile">
                    <h2 class="text-containered" style="margin-top: 0.5rem; margin-bottom: 0rem;">{{user}}
                    </h2>
                    <!--a href="edit/" class="fancy-underline subtitle">Edit Profile</a-->
                    <a href="../" class="fancy-underline subtitle">Exit without saving</a>
                    <div class="hr"></div>
                    <p>form</p>
                </div> 

    </span>
</body>