<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load filters %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <!-- font import -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
    {%include 'prefabs/default_viewport_meta.html' %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>{{user|get_display_name}}'s Profile Page</title>
</head>

<body>
    <span class="home-main-container">
                <!--div style="min-width: 0.1rem; background-color: var(--border-color);"></div-->
                <div class="home-container half">
                    <div class="underlying-container">
                        <a href="../"  class="fancy-underline back-text">Go Back</a>
                        <!--span onclick="window.history.go(-1); return false;" class="fancy-underline back-text">Go Back</span-->
                        <!--h1>{{user}}'s Profile Page</h1-->
                        <img src="{{user|get_pfp}}" class="pfp-profile">
                        <h2 class="text-containered" style="margin-top: 0.5rem; margin-bottom: 0rem;">{{user|get_display_name}}
                        </h2>
                        <a href="edit/" class="fancy-underline subtitle">Edit Profile</a>
                        <div class="hr"></div>
                        <h2>Your Projects:</h2>
                        {% for item in lookup %}
                        {% include 'prefabs/project_thumb.html' %}
                        {%endfor%}
                    </div>
                </div> 

    </span>
</body>