<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load filters %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <!-- font import -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
    {%include 'prefabs/default_viewport_meta.html' %}
</head>

<body>
    <span class="home-main-container">
                <!--div style="min-width: 0.1rem; background-color: var(--border-color);"></div-->
                <div class="home-container half">
                    <a href="../"  class="fancy-underline back-text">Go Back</a>
                    <!--h1>{{user}}'s Profile Page</h1-->
                    <br>
                    <br>
                    <div class="project-item">
                        <img src="{{item|get_icon}}" class="thumb-icon">
                        <div style="text-align: start;">
                            <h3 style="margin-bottom: 0; margin-top: 0;">{{item.name}}</h3>
                            By {{item.user}}
                        </div>
                    </div>
                    <div class="hr"></div>
                    <h2>Are you Sure you want to delete this project?</h2>
                    <h3>This action is Irreversible!</h3>
                    <div style="display: flex;flex-direction: row;
                                margin-left: 1rem; margin-right: 1rem;">
                        <a href="../" style="width: 100%;"><button type="button" class="login-button-secondary">Cancel</button></a>
                        <a href="?confirm=true" style=" width: 100%;"><button type="button" class="login-button-delete">Confirm</button></a>
                    </div>

    </span>
</body>