<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load filters %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <!-- font import -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
    {%include 'prefabs/default_viewport_meta.html' %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>{{item.name}}</title>
</head>

<body>
    <span class="home-main-container">
                <!--div style="min-width: 0.1rem; background-color: var(--border-color);"></div-->
                <div class="home-container half">
                    <a href="../"  class="fancy-underline back-text">Go Back</a>
                    <!--h1>{{user}}'s Profile Page</h1-->
                    <br>
                    <br>
                    <div class="project-item">
                        <img src="{{item|get_icon}}" class="thumb-icon">
                        <div style="text-align: start;">
                            <h3 style="margin-bottom: 0; margin-top: 0;">{{item.name}} <span class="subtitle">{{item|get_project_visibility}}</span></h3>
                            By {{item.user|get_display_name}}
                        </div>
                    </div>
                    <a href="/profile/{{item.user}}/" class="fancy-underline subtitle">View Author's Profile</a>
                    {% if is_author %}
                    <a href="metadata_edit/" class="fancy-underline subtitle">Edit Project Metadata</a>
                    {%endif%}
                    <div class="hr"></div>
                    <br>
                    <div>
                        <form action="./" method="post">
                            {%csrf_token%}
                            <button type="submit" id="pin_button" style="width: 40vw; transition: none;" 
                            {% if is_pinned %}
                            class="login-button-primary">Unpin this project
                            {% else %}
                            class="login-button-secondary">Pin this project
                            {%endif%}
                        </button>
                        </form>
                    </div>
                    <br>
                    <div style="display: flex;flex-direction: row;
                                margin-left: 1rem; margin-right: 1rem;">
                        <!--a href="" style="width: 100%;"><button type="button" class="login-button-primary">Run</button></a-->
                        {% if is_author %}
                        <a href="/edit/?project_id={{item.id}}" style=" width: 100%;"><button type="button" class="login-button-secondary" style="width: 40vw;">Pipeline Editor</button></a>
                        {%endif%}
                    </div>
                <h2>Description:</h2>
                <p>{{item.description}}</p>
                </div> 

    </span>
</body>