<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load filters %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet" />
        {%include 'prefabs/default_viewport_meta.html' %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <title>Timesite: Projects</title>
</head>

<body>
    <span class="home-main-container">
        <div class="home-container" id="container-side-1">
            {%include 'prefabs/sidepanel_button_left_double.html' %}
            <h2>Recent projects</h2>
            {% for item in user|get_projects %}
            {%include 'prefabs/project_thumb.html'%}
            {%endfor%}
        </div>
        <div class="sidebar-substituter" id="sidebar_substituter_left"></div>
        <div class="home-container center" id="container-main">
            {%include 'prefabs/sidepanel_button_left.html' %}
            {%include 'prefabs/sidepanel_button_right.html' %}
            <div class="underlying-container">
                {%if prompt %}
                <h1>Results for {{prompt}}</h1>
                {%else%}
                <h1>Project List</h1>
                {%endif%}
                <div>
                    <form action="/projects/" class="search-form" method="post">
                        {% csrf_token %}
                        {{ form.search }}
                        <button class="search-button" type="submit">🔍</button>
                    </form>
                </div>
                <br>
                <a href="new/"><button class="login-button-primary">Create New Project</button></a>
                <br>
                <br>
                <!--div class="hr"></div-->
                {%for item in lookup%}
                {%include 'prefabs/project_thumb.html'%}
                {%endfor%}
            </div>
        </div>
        <div class="home-container" id="container-side-2">
            {%include 'prefabs/sidepanel_button_right_double.html' %}
            <p class="profile-shorthand"><img src="{{user|get_pfp}}" class="pfp"><b>{{user|get_display_name}}</b></p>
            {% include "prefabs/right_panel_links.html" %}
        </div>
    </span>
</body>
<script>
    document.getElementById('projects_link').classList.add('underlined');
</script>
<script src="{% static 'three_panel_animator.js' %}"></script>